
<app-header></app-header>

<div class="view" style="background-image: url('assets/images/h1_hero.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row pt-lg-5 mt-lg-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
           
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="text-center">
                  <h3 class="dark-grey-text">
                    <strong>login:</strong>
                  </h3>
                  <hr>
                </div>
                <!--Body-->
                <div class="md-form">
                  <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                  <input type="text" id="form3" class="form-control" mdbInput>
                  <label for="form3">Your email</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                  <input type="password" id="form2" class="form-control" mdbInput>
                  <label for="form2">Your password</label>
                </div>
                <!--Textarea with icon prefix-->
        
                <div class="text-center mt-3">
                  <button mdbBtn color="indigo" mdbWavesEffect routerLink="/home">Login</button>
                  <hr>
                   <a class="nav-link" routerLink="/register" data-offset="90">Register</a>
                              
                </div>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  