<app-header></app-header>
<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Travel Advisor</strong></a>
      </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto">

          </ul>
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" data-offset="90">About Us</a>
              </li>
              <li class="nav-item">
                <a routerLink="/plan" class="nav-link"  data-offset="90">Plan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contactus" data-offset="90">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" data-offset="90">Login/Signup</a>
              </li>
            </ul>
        </links>
  </mdb-navbar>
</header> 
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-6 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 320px;">
            <figure><img src="assets/images/sneha.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">LuckyReddy Sneha</a></h3>
            <p>lreddy91@in.ibm.com</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 320px;">
            <figure><img src="assets/images/Capture.JPG" class="img-responsive" alt=""></figure>
            <h3><a href="#">Divya</a></h3>
            <p>bdivya19@in.ibm.com</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 320px;">
            <figure><img src="assets/images/three.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Swathi</a></h3>
            <p>malswath@in.ibm.com</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 320px;">
            <figure><img src="assets/images/four.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Varsha </a></h3>
            <p>varshm16@in.ibm.com</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 320px;">
          <figure><img src="assets/images/five.png" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Sushma </a></h3>
          <p>psushm14@in.ibm.com</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 320px;">
        <figure><img src="assets/images/five.png" class="img-responsive" alt=""></figure>
        <h3><a href="http://www.webcoderskull.com/">Sowmya </a></h3>
        <p>sowmyn19@in.ibm.com</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </li>
    </ul>
  </div>
</section>

